spring:
  application:
    name: orderservice

  datasource:
    url: jdbc:postgresql://localhost:5433/orderservice_db
    username: postgres
    password: 1234567
    driver-class-name: org.postgresql.Driver

  security:
    jwt:
      secret: ${SPRING_SECURITY_JWT_SECRET:${JWT_SECRET:dev-secret-change-me}}

  jpa:
    hibernate:
      ddl-auto: none
    show-sql: true

  liquibase:
    change-log: classpath:db/changelog/change-master.xml
    enabled: true

  data:
    redis:
      host: localhost
      port: 6379

  cache:
    type: redis
    redis:
      time-to-live: 300000
      cache-null-values: false

  kafka:
    bootstrap-servers: ${SPRING_KAFKA_BOOTSTRAP_SERVERS:localhost:9092}
    consumer:
      group-id: order-service
      auto-offset-reset: earliest
      key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      value-deserializer: org.springframework.kafka.support.serializer.JsonDeserializer
      properties:
        spring.json.trusted.packages: "*"
    producer:
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: org.springframework.kafka.support.serializer.JsonSerializer


userservice:
  base-url: http://localhost:8081
server:
  port: 8083