apiVersion: apps/v1
kind: Deployment
metadata:
  name: paymentservice
  labels:
    app: paymentservice
spec:
  replicas: 1
  selector:
    matchLabels:
      app: paymentservice
  template:
    metadata:
      name: paymentservice
      labels:
        app: paymentservice
    spec:
      automountServiceAccountToken: false
      containers:
        - name: paymentservice
          image: paymentservice:1.0.0
          imagePullPolicy: Never
          ports:
            - containerPort: 8084
              protocol: TCP
              name: http
          env:
            - name: SPRING_DATA_MONGODB_URI
              value: "mongodb://host.docker.internal:27017/paymentservice_db"
            - name: SPRING_DATA_MONGODB_AUTO_INDEX_CREATION
              value: "false"
            - name: SPRING_LIQUIBASE_URL
              value: "mongodb://host.docker.internal:27017/paymentservice_db"
            - name: SPRING_LIQUIBASE_ENABLED
              value: "true"
            - name: SPRING_KAFKA_BOOTSTRAP_SERVERS
              value: "host.docker.internal:9092"
          resources:
            requests:
              memory: "384Mi"
              cpu: "100m"
            limits:
              memory: "768Mi"
              cpu: "200m"
          livenessProbe:
            httpGet:
              path: /actuator/health/liveness
              port: 8084
            initialDelaySeconds: 60
            periodSeconds: 10

          readinessProbe:
            httpGet:
              path: /actuator/health/readiness
              port: 8084
            initialDelaySeconds: 30
            periodSeconds: 5
